<!DOCTYPE html>
<html>
  <head>
    <!-- INSERT GOOGLE ANALYTICS HERE -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Allan Szewczyk | Web Developer</title>
    <!-- Comment this out when meta tags configured -->
    <meta name="title" content="main Allan Szewczyk | Portfolio">
    <meta name="description" content="main Full Stack Web Developer based in Tokyo with experience in web applications and front-end UI design.">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="og Allan Szewczyk | Portfolio"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.allanszewczyk.me/"/>
    <meta property="og:image" content="https://www.allanszewczyk.me/assets/images/thumbnail.jpg"/>
    <meta property="og:description" content="og Full Stack Web Developer based in Tokyo with experience in web applications and front-end UI design."/>
    <meta property="og:site_name" content="Allan Szewczyk | Portfolio"/>
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "app" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
    <link rel="stylesheet" href="dist/devices.css">
  </head>
  <body id="home">
    <div class="content bg-white" >
      <%= yield %>
    </div>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
