<!DOCTYPE html>
<html>
  <head>
    <!-- INSERT GOOGLE ANALYTICS HERE -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-200684147-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-200684147-1');
    </script>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Allan Szewczyk | Web Developer</title>
    <!-- Comment this out when meta tags configured -->
    <meta name="title" content="Allan Szewczyk | Portfolio">
    <meta name="description" content="Full Stack Web Developer based in Tokyo with experience in web applications and front-end UI design.">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Allan Szewczyk | Portfolio"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.allanszewczyk.me/"/>
    <meta property="og:image" content="https://res.cloudinary.com/dccda88q7/image/upload/v1628179377/portfolio/thumbnail_q1idi0.png"/>
    <meta property="og:description" content="Full Stack Web Developer based in Tokyo with experience in web applications and front-end UI design."/>
    <meta property="og:site_name" content="Allan Szewczyk | Portfolio"/>
    <!-- Favicon data -->
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "app" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
    <link rel="stylesheet" href="dist/devices.css">
    <!-- Scroll Reveal -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
  </head>
  <body id="home">
    <div class="content bg-white" >
      <%= yield %>
    </div>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
