<div id="about" class="container-about-tech">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 text-center">
      <h1>About me</h1>
      <hr style="width:40%">
      <%= image_tag("about.jpg", alt: "Allan", class: "about-pic")%>
      <div class="card-about">
        <p>Hi there! I'm Allan, a <b>full-stack web developer</b> based in Tokyo. Originally from Australia and living in Japan for many years now, I'm always looking for opportunities to push myself.</p>
        <p>Creativity comes in many forms, and I love trying to incorporate the same creative elements from other areas of my life when thinking of design and the user experience.</p>
        <div class="card-about-contact">
          <p><b>Got any questions?</b></p>
          <i class="fas fa-greater-than"></i>
          <a class="wiggle" href="#contact">Hit me up!</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 text-center">
      <h1>My Tech Stack</h1>
      <hr style="width:40%">
      <div class="cards-skills">
        <div>
          <img src="assets/images/html5-original.svg" alt="HTML Icon">
        </div>
        <div>
          <img src="assets/images/css3-original.svg" alt="CSS Icon">
        </div>
        <div>
          <img src="assets/images/sass-original.svg" alt="Sass Icon">
        </div>
        <div>
          <img src="assets/images/bootstrap-plain.svg" alt="Bootstrap Icon">
        </div>
        <div>
          <img src="assets/images/javascript-original.svg" alt="JavaScript Icon">
        </div>
        <div>
          <img src="assets/images/react-original.svg" alt="React Icon">
        </div>
        <div>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" alt="Next.js Icon">
        </div>
        <div>
          <img src="assets/images/figma-original.svg" alt="Figma Icon">
        </div>
        <div>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" alt="PHP Icon">
        </div>
        <div>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-original.svg" alt="WordPress Icon">
        </div>
        <div>
          <img src="assets/images/ruby-original.svg" alt="Ruby Icon">
        </div>
        <div>
          <img src="assets/images/rails-plain.svg" alt="Rails Icon">
        </div>
        <div>
          <img src="assets/images/postgresql-original.svg" alt="PostgreSQL Icon">
        </div>
        <div>
          <img src="assets/images/graphql-plain.svg" alt="GraphQL Icon">
        </div>
        <div>
          <img src="assets/images/git-original.svg" alt="Git Icon">
        </div>
        <div>
          <img src="assets/images/github-original.svg" alt="GitHub Icon">
        </div>
      </div>
    </div>
  </div>
</div>
