<div class="banner">
  <div class="banner__loading-icon-wrapper">
    <div class="lds-ellipsis">
      <div>
        </div>
          <div>
            </div><div>
          </div>
        <div>
      </div>
    </div>
  </div>
  <div class="banner__background hide">
    <div class="banner__text-container">
      <h1 class="banner__text banner__text--name hide">ALLAN SZEWCZYK</h1>
      <hr class="banner__text banner__text--hr hide" align="left" >
      <h2 class="banner__text banner__text--job-title hide">Full-Stack Developer</h2>
    </div>
    <div class="banner__arrow">
      <a href="#projects">
        <i class="fas fa-chevron-down"></i>
      </a>
    </div>
  </div>
</div>
