<div class="banner" style="background-image: url(assets/images/banner.jpg);">
  <div class="banner-text">
    <h1>ALLAN SZEWCZYK</h1>
    <hr align="left" style="width:250px" >
    <h2>Full Stack Developer</h2>
  </div>
</div>
