<div class="navbar navbar-expand-sm navbar-portfolio">
  <div class="navbar-brand">
    <img src="assets/images/logo-white.png" alt="">
  </div>
  <div class="navbar-links" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
    </ul>
  </div>
</div>
