<div class="container-projects" id="other">
  <h1>Other Applications</h1>
  <hr style="width:20%">
  <div class="card-project card-project-mirror">
    <%# OTHER 1 %>
    <div class="card-project-info-left">
      <h1>LOUNGE</h1>
      <h2>About</h2>
      <p>A web app that curates movies into watchlists based on genre. Review movies and see what others recommend.</p>
      <div class="container-icons container-icons-mirror">
        <div class="container-btns">
          <a class="btn btn-pages-left" href="https://loungemovies.herokuapp.com/" target="_blank" >View site</a>
          <a class="btn btn-pages-left" href="https://github.com/jfaMan/rails-watch-list" target="_blank">View code</a>
        </div>
        <div class="icons-row d-flex">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-ruby-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-heroku-plain colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-github-original colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
        </div>
      </div>
    </div>
    <div class="container-iphone device-origin-right">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <img class="device-content" src="assets/images/lounge.png">
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
    </div>
  </div>
  <%# OTHER 2 %>
  <div class="card-project">
    <div class="container-iphone device-origin-left">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <img class="device-content" src="assets/images/currency-converter-mobile.png">
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
    </div>
    <div class="card-project-info-right">
      <h1>React Currency Converter</h1>
      <h2>About</h2>
      <p>Check mid-market exchange rates with React Currency Converter, an XE inspired currency converter built using React and the Free Currency Converter API.</p>
      <div class="container-icons">
        <div class="icons-row d-flex">
          <i class="devicon-react-original colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="container-btns">
          <a class="btn btn-pages-right" href="https://reactcurrencyconverter-ajs.netlify.app/" target="_blank" >View site</a>
          <a class="btn btn-pages-right" href="https://github.com/jfaMan/react-currency-converter" target="_blank">View code</a>
        </div>
      </div>
    </div>
  </div>
  <%# OTHER 3 %>
  <div class="card-project card-project-mirror">
    <div class="card-project-info-left">
      <h1>React Tic-tac-toe</h1>
      <h2>About</h2>
      <p>Play Tic-tac-toe with this simple application built using React.</p>
      <div class="container-icons container-icons-mirror">
        <div class="container-btns">
          <a class="btn btn-pages-left" href="https://reacttictactoe-ajs.netlify.app/" target="_blank" >View site</a>
          <a class="btn btn-pages-left" href="https://github.com/jfaMan/react-tic-tac-toe" target="_blank">View code</a>
        </div>
        <div class="icons-row d-flex">
          <i class="devicon-react-original colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-github-original colored"></i>
        </div>
      </div>
    </div>
    <div class="container-iphone device-origin-right">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <img class="device-content" src="assets/images/react-tic-tac-toe.png">
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
    </div>
  </div>
</div>
