<div class="container-projects" id="projects">
  <h1>My Projects</h1>
  <hr style="width:20%">
  <div class="card-project">
    <div class="container-iphone">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <img class="device-content" src="assets/images/baiku-home.png">
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
    </div>
    <div class="card-project-info-right">
      <h1>BAIKU</h1>
      <h2>Context</h2>
      <p>Big cities all have one thing in common—a lack of space. When it comes to getting around by bike, the struggle is no different. While paid bicycle parking as a solution works for some, the reality is many would leave their bikes on the side of the road at the cost of theft or fines.</p>
      <h2>Solution</h2>
      <p>The solution to the above is BAIKU, a community driven app that allows you to browse free user-suggested bicycle parking locations in your city. Found a nice spot you think is risk-free? Then share it with the community so others can say goodbye to those parking fees and fines.</p>
      <div class="container-icons">
        <div class="icons-row d-flex">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-ruby-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-heroku-plain colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-github-original colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
        </div>
        <div class="container-btns">
          <a class="btn btn-pages-right" href="http://www.baiku-official.com/" target="_blank" >See site</a>
          <a class="btn btn-pages-right" href="https://github.com/jfaMan/baiku-app" target="_blank">See code</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-project card-project-mirror">
    <div class="card-project-info-left">
      <h1>StudioFind</h1>
      <h2>Context</h2>
      <p>Are you a yoga instructor in need of a place to teach your class? Maybe you're a dancer who wants to find a spot to train on a rainy day? Whatever the scenario, space is a luxury for many that we just may not have in our homes.</p>
      <h2>Solution</h2>
      <p>Meet StudioFind—a marketplace style platform that allows you to rent or rent out space right in your neighbourhood. Whether it's for work or for your hobbies, StudioFind is a simple solution to finding space for your needs right at your doorstep. </p>
      <div class="container-icons container-icons-mirror">
        <div class="container-btns">
          <a class="btn btn-pages-left" href="https://studio-find.herokuapp.com/" target="_blank" >See site</a>
          <a class="btn btn-pages-left" href="https://github.com/jfaMan/studio-find" target="_blank">See code</a>
        </div>
        <div class="icons-row d-flex">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-ruby-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-heroku-plain colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-github-original colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
        </div>
      </div>
    </div>
    <div class="container-macbook">
      <div class="device device-macbook">
        <div class="device-frame">
          <img class="device-content" src="assets/images/studio-find.png">
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
    </div>
  </div>
  <div class="card-project">
    <div class="container-surface-pro">
      <div class="device device-surface-pro">
        <div class="device-frame">
          <img class="device-content" src="assets/images/lounge.png">
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
    </div>
    <div class="card-project-info-surface">
      <h1>LOUNGE</h1>
      <h2>Context</h2>
      <p>Sometimes it's the simple things that turn out to be the most challenging. Can't remember what movie your friend told you about? Want to see and keep track of what other movies people recommend?</p>
      <h2>Solution</h2>
      <p>Lounge is a simple application that allows you to create movie watch lists based on genre. Review movies and see what others recommend in their watch lists.</p>
      <div class="container-icons">
        <div class="icons-row d-flex">
          <i class="devicon-rails-plain colored"></i>
          <i class="devicon-ruby-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-heroku-plain colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-github-original colored"></i>
          <i class="devicon-postgresql-plain colored"></i>
        </div>
        <div class="container-btns">
          <a class="btn btn-pages-right" href="https://loungemovies.herokuapp.com/" target="_blank" >See site</a>
          <a class="btn btn-pages-right" href="https://github.com/jfaMan/rails-watch-list" target="_blank">See code</a>
        </div>
      </div>
    </div>
  </div>
  <h1>Other Applications</h1>
  <hr style="width:20%">
  <div class="card-project card-project-mirror">
    <div class="card-project-info-left">
      <h1>React Currency Converter</h1>
      <h2>About</h2>
      <p>An XE inspired currency converter built using ReactJS and the Free Currency Converter API.</p>
      <div class="container-icons container-icons-mirror">
        <div class="container-btns">
          <a class="btn btn-pages-left" href="https://reactcurrencyconverter-ajs.netlify.app/" target="_blank" >See site</a>
          <a class="btn btn-pages-left" href="https://github.com/jfaMan/react-currency-converter" target="_blank">See code</a>
        </div>
        <div class="icons-row d-flex">
          <i class="devicon-react-original colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-github-original colored"></i>
        </div>
      </div>
    </div>
    <div class="container-macbook">
      <div class="device device-macbook">
        <div class="device-frame">
          <img class="device-content" src="assets/images/currency-converter.png">
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
      </div>
    </div>
  </div>
</div>
