.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: start;
  display: flex;
  background-position: 0% 54%;

  h1 {
    color: white;
    // margin-left: 8px;
  }

  .banner-text {
    // transform: rotate(-5deg);
    position: absolute;
    left: 190px;
    top: 190px;
  }
}


// .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-text-rotate {
  transform: rotate(-10deg);
}