.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 56px);
  margin: 0 0 200px 0;
  .banner-text {
    position: absolute;
    bottom: 10%;
    left: 8%;
    h1 {
      opacity: 1;
      transition: opacity 2s linear;
      font-size: 60px;
    }
    h2 {
      color: white;
      margin-top: 8px;
      font-size: 48px;
      font-weight: 300;
    }
  }
}
.arrow {
  padding: 0 0 0 0;
  position: absolute;
  bottom: 38px;
  left: 49%;
  i {
    cursor: pointer;
    font-size: 24px;
    color: black;
    animation: hover 3S infinite;
    animation-direction: alternate;
  }
}

@keyframes hover {
  from { transform: translateY(100%); }
  to { transform: translateY(150%); }
}


// Media Queries
@media(max-width: 768px) {
  .banner {
    .banner-text {
      hr {
        margin: 0;
      }
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 38px;
      }
    }
  }
}

@media(max-width: 576px) {
  .banner {
    height: calc(100vh - 56px);
    background-position: 63%;
    margin: 0 0 200px 0;
    .banner-text {
      position: absolute;
      bottom: 14%;
      left: 3%;
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 32px;
      }
    }
  }
  .arrow {
    padding: 0 0 0 0;
    position: absolute;
    bottom: 38px;
    left: 49%;
  }
}
