.btn-pages-right {
  border-radius: 2px;
  background-color: $black;
  color: white;
  margin-left: 16px;
}
.btn-pages-left {
  border-radius: 2px;
  background-color: $black;
  color: white;
  margin-right: 16px;
}