.cards-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 16px;
  padding: 16px;
  grid-gap: 32px;
}

.card-about {
  margin: 16px;
  padding: 16px;
}

.card-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 96px 0px;
  h1 {
    margin: 0px 0px 32px 0px;
  }
}

.card-project-info-right {
  width: 100%;
  margin: 0px 0px 0px 64px;
  // border: 1px solid black;
  // box-shadow: 10px 10px black;
  h1 {
    margin: 0px 0px 32px 0px !important;
  }
  p {
    margin-bottom: 24px;
  }
}

.card-project-info-left {
  width: 100%;
  margin: 0px 64px 0px 0px;
  // border: 1px solid black;
  // box-shadow: 10px 10px black;
  h1 {
    margin: 0px 0px 32px 0px !important;
  }
  p {
    margin-bottom: 24px;
  }
}

.card-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 32px;
    padding: 0px 10px;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  i {
    font-size: 32x;
  }
}

// @media(max-width: 992px) {
//   .cards-skills {
//     grid-template-columns: 1fr 1fr;
//   }
// }

@media(max-width: 768px) {
  // .cards-skills {
  //   grid-template-columns: 1fr 1fr 1fr;
  // }
  .card-project {
    flex-direction: column;
    padding: 32px 0px 48px 0px;
    .card-project-info-right, .card-project-info-left {
      margin: 32px 0px;
    }
  }
  .banner {
    padding: 226px 0px 20px 4px;
    margin: 0px;
    .banner-text {
      margin-left: 8px;
      hr {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
  #banner-container {
    padding: 0px;
    margin-top: 0px;

  }
  .navbar-nav {
    flex-direction: row;
    .nav-link {
      padding-right: 16px;
    }
  }
  .container {
    margin-top: 0px !important;
  }

  .container-iphone {
    grid-template-columns: 1fr;
  }
  .container-info-project-right {
    grid-template-columns: 1fr;
  }
}
