.container-about-tech {
padding: 64px 0px;
}

.container-projects {
padding: 32px 0px;
  h1 {
    text-align: center;
    margin: 32px 0px;
  }
}

.container-iphone {
  height: 434px;
  width: 214px;
}

.container-macbook {
  height: 215px;
  width: 370px;
}

.container-surface-pro {
  height: 197px;
  width: 280px;
}

.container-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  i {
    margin-right: 8px;
    font-size: 24px;
  }
}

.container-btns {

}