.container-about-tech {
  padding: 64px 0px;
  .about-pic {
    width: 240px;
    height: 240px;
    // border: 4px solid black;
    border-radius: 1%;
    margin: 24px 0px 0px 0px;
  }

}

.container-projects {
  padding: 32px 0px;
  h1 {
    text-align: center;
    margin: 32px 0px;
  }
}

.container-contact {
  padding: 32px 0px;
  h1 {
    text-align: center;
    margin: 32px 0px;
  }
}

.container-iphone {
  height: 434px;
  width: 214px;
}

.container-macbook {
  height: 215px;
  width: 370px;
}

.container-surface-pro {
  height: 197px;
  width: 280px;
}

.container-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  i {
    margin-right: 8px;
    font-size: 32px;
  }
}

// .container-greeting {
//   text-align: center;
//   margin: 200px 0px;
//   p {
//     font-size: 64px;
//   }
// }

@media(max-width: 768px) {
  .container-about-tech {
    padding-bottom: 0px;
  }

  .container-icons {
    flex-direction: column;
    .icons-row {
      width: 100%;
      margin-top: 16px;
      i {
        margin: auto;
      }
    }
  }

  .container-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .btn {
      margin: 48px 0px 0px 0px;
      width: 150px;
    }
  }

  .device-surface-pro {
    height: 394px;
    width: 561px;
    transform: scale(0.4) translateX(-60%) translateY(-60%) !important; 
  }
  .container-surface-pro {
    height: 220px;
    width: 290px;
  }

  .wrapper div:first-child {
    order: 2;
  }
}