.container-about-tech {
padding: 64px 0px;
}

.container-projects {
padding: 32px 0px;
  h1 {
    text-align: center;
    margin: 32px 0px;
  }
}

.container-iphone {
  height: 434px;
  width: 214px;
}

.container-macbook {
  height: 215px;
  width: 370px;
}