.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  color: rgba(0,0,0,0.3);
  p {
    margin: 0px;
    padding: 8px;
  }
}


// CSS for sticky footer

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

// CSS for sticky footer 