.navbar-portfolio {
  justify-content: space-between;
  align-items: center;
  background: $black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
  .navbar-brand img {
    width: 112px;
  }
  .navbar-links-right a {
    font-size: 16px;
    color: white;
    width: auto;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
}

// Media Queries

@media(max-width: 768px) {
  
  .nav-link {
    padding: 8px 0px 8px 16px !important;
  }
  .navbar-nav {
    flex-direction: row;
  }
}

@media (max-width: 575px) {
  .navbar-portfolio {
    .navbar-links-right .navbar-nav {
      flex-direction: column;
      align-items: center;
    }
    button.navbar-toggler.collapsed {
      .bar {
        &:first-child {
          transform: rotate(0deg);
          top: 0px;
        }
        &:nth-child(2) {
          display: block;
          position: absolute;
          top: 8px;
          opacity: 1;
        }
        &:last-child {
          transform: rotate(0deg);
          top: 16px;
        }
      }
    }
    button.navbar-toggler {
      padding: 0;
      border: none;
      width: 25px;
      height: 16px;
      margin: 0;
      position: relative;
        .bar {
        display: block;
        height: 2px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        transition: 300ms ease-in-out;
        &:first-child {
          transform: rotate(45deg);
          position: absolute;
          top: 8px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
          position: absolute;
          top: 8px;
        }
      }
    }
  }
}
