.navbar-portfolio {
  justify-content: space-between;
  background: $black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
  p {
    font-size: 16px;
    color: white;
    margin: 8px 0px;
    display: flex;
    align-items: center;
  }
}

.navbar-links-right {
  a {
    font-size: 16px;
    color: white;
    width: auto;
  }
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio .navbar-brand img {
  width: 112px;
}

img {
  width: 100%;
  height: auto;
}

@media(max-width: 768px) {
  .nav-link {
    padding: 8px 0px 8px 16px !important;
  }
}